* {
    background: url("assets/table.png") fixed no-repeat;
    background-size: cover;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 3em;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    width: 10em;
    height: 3em;
    max-height: 60px;
    max-width: 200px;
    background: fixed yellow no-repeat;
    border: 1px solid red;
    border-radius: 0.3em;
    font-size: 1em;
    color: green;
}

button:hover {
    background: orange;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);
}